.upload-list {
  list-style: none;
  width: 300px;
}
.upload-list-item {
  background-color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}
.file-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 0;
    width: 100%;
}
.file-name-ready {
  color: $gray-600;
}
.file-name-uploading {
  color: $primary;
}
.file-name-error {
  color: $red;
}
.file-name-success {
  color: $green;
}
.is-dragover {
  border: 2px dashed $primary;
  background-color: $gray-100;
}
